{% extends 'base.html.twig' %}

{% block title %}La carte{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="text-center">La carte</h1>
        <div class="row text-center">
            <div class="col-md-6">
                <h2>Menu du midi</h2>
                {% for category in categories %}
                    <h3>{{ category.name}}</h2>
                    {% for dish in dishesLunch %}
                        {% if dish.category == category.name %}
                            <p>{{ dish.title }} - {{ dish.description}} / {{ dish.price }}€</p>
                        {% endif %}
                    {% endfor %}      
                {% endfor %} 
            </div>
            <div class="col-md-6">
                <h2>Menu du soir</h2>
                    {% for category in categories %}
                        <h3>{{ category.name}}</h2>
                        {% for dish in dishesDinner %}
                            {% if dish.category == category.name %}
                                <p>{{ dish.title }} - {{ dish.description}} / {{ dish.price }}€</p>
                            {% endif %}
                        {% endfor %}      
                    {% endfor %}
            </div>
        </div>
        
</div>
{% endblock %}
