{% extends 'base.html.twig' %}

{% block title %}Quai Antique - La carte{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-fluid">
    <h1 class="text-center">La carte</h1>
        <div class="row text-center">
            <div class="col-md-6">
                <h2>Menu du midi</h2>
                {% for category in categories %}
                    <h3>{{ category.name}}</h2>
                    {% for dish in dishesLunch %}
                        {% if dish.categoryDish == category.name %}
                            <p>{{ dish.title }} - {{ dish.description}} / {{ dish.price }}€</p>
                        {% endif %}
                    {% endfor %}      
                {% endfor %} 
            </div>
            <div class="col-md-6">
                <h2>Menu du soir</h2>
                    {% for category in categories %}
                        <h3>{{ category.name}}</h2>
                        {% for dish in dishesDinner %}
                            {% if dish.categoryDish == category.name %}
                                <p>{{ dish.title }} - {{ dish.description}} / {{ dish.price }}€</p>
                            {% endif %}
                        {% endfor %}      
                    {% endfor %}
            </div>
        </div>
        
</div>
{% endblock %}
