{% extends 'base.html.twig' %}

{% block title %}Réserver une table{% endblock %}

{% block body %}
    <div class="container-fluid m-3">
        <h1 class="text-center">Réservation</h1>
            <div class="row justify-content-center">
                {{form_start(bookingForm) }}
                    <div class="col-6">
                        {{ form_row(bookingForm.lastName) }}
                        {{ form_row(bookingForm.emailAdress) }}
                        {{ form_row(bookingForm.phoneNumber) }}
                        {{ form_row(bookingForm.guestNumber) }}
                        {{ form_row(bookingForm.date) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Je réserve une table</button>
                {{form_end(bookingForm) }}
            </div>
    </div>
    
</div>
{% endblock %}
