<!DOCTYPE html>
<html lang='fr'>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil{% endblock %} - Quai Antique
		</title>
		<link rel="icon" href="{{ asset('assets/images/logo.png') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{# Stylesheets #}
		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link href="{{ asset('assets/fontawesome/css/fontawesome.css') }}" rel="stylesheet">
  		<link href="{{ asset('assets/fontawesome/css/brands.css') }}" rel="stylesheet">
  		<link href="{{ asset('assets/fontawesome/css/solid.css') }} " rel="stylesheet">
		{% endblock %}

		
		
	</head>
	<body class="d-flex flex-column min-vh-100">
			<header>
            {% include "_partials/_navbar.html.twig" %}
        	</header>

            {% block body %}{% endblock %}

			<footer class="mt-auto">
			{% include "_partials/_footer.html.twig" %}
			</footer>

{# Fichiers JS #}
{% block javascripts %}
	<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}
		
	</body>
	</html>
